<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Procurement portal</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script>
        var BASE_URL = '{{ "/" | full_url }}';		
    </script>

</head>
<body mat-app-background>
	
<app-root>Loading...</app-root>
<script src="{{ 'runtime-es2015.js' | static_asset_url }}" type="module"></script>
<script src="{{ 'polyfills-es2015.js' | static_asset_url }}" type="module"></script>
<script src="{{ 'runtime-es5.js' | static_asset_url }}" nomodule></script>
<script src="{{ 'polyfills-es5.js' | static_asset_url }}" nomodule></script>
<script src="{{ 'styles-es2015.js' | static_asset_url }}" type="module"></script>
<script src="{{ 'styles-es5.js' | static_asset_url }}" nomodule></script>
<script src="{{ 'vendor-es2015.js' | static_asset_url }}" type="module"></script>
<script src="{{ 'main-es2015.js' | static_asset_url }}" type="module"></script>
<script src="{{ 'vendor-es5.js' | static_asset_url }}" nomodule></script>
<script src="{{ 'main-es5.js' | static_asset_url }}" nomodule></script></body>

</body>
</html>