<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="robots" content="index, follow, noodp">
  <meta name="googlebot" content="index, follow">
  <meta name="google" content="notranslate">
  <meta name="format-detection" content="telephone=no">

  <title>Procurement portal</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- <link rel="stylesheet" href=" {{ 'bundle/assets/css/bootstrap.min.css' | static_asset_url }}"> -->
  <link rel="stylesheet" href="{{ 'bundle/styles.css' | static_asset_url }}"></head>

  <style type="text/css">
    .app-loading {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .app-loading .spinner {
      height: 200px;
      width: 200px;
      animation: rotate 2.5s linear infinite;
      transform-origin: center center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .app-loading .spinner .path {
      stroke-dasharray: 10, 200;
      stroke-dashoffset: 0;
      animation: dash 2s ease-in-out infinite;
      stroke-linecap: round;
      stroke: #fff;
    }
    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes dash {
      0% {
        stroke-dasharray: 10, 200;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
      }
      100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
      }
    }
  </style>

  <script>
      var BASE_URL = '{{ "/" | full_url }}';		
  </script>

</head>
<body>
	
  {{ content_for_layout }}

<script src="{{ 'bundle/runtime.js' | static_asset_url }}"></script>
<script src="{{ 'bundle/polyfills-es5.js' | static_asset_url }}" nomodule></script>
<script src="{{ 'bundle/polyfills.js' | static_asset_url }}"></script>
<script src="{{ 'bundle/scripts.js' | static_asset_url }}"></script>
<script src="{{ 'bundle/vendor.js' | static_asset_url }}"></script>
<script src="{{ 'bundle/main.js' | static_asset_url }}"></script>

</body>
</html>